:root {
    --color-background-agregar: #55e4b1;
    --color-background-agregar-hover: #08a093;
    --color-agregar-hover: #ffffff;
    --color-background-eliminar: #ff0331;
    --color-background-eliminar-hover: #a00821;
    --color-eliminar-hover: #ffffff;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    overflow-y: auto;
    font-family: system-ui;
    overflow-x: hidden;
}

#profile-div {
    cursor: pointer;
}

.boton_cambiar_contrasena {
    text-decoration: none;
    color: black;
    border: 1px solid #ffffff;
    font-size: 10px;
    margin: 5px 5px;
    padding-right: 5px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    position: absolute;
}

.boton_cambiar_contrasena:hover {
    border: 1px solid #000;
}

.fa-lock {
    margin: 5px 5px;
}

.sidebar {
    background-color: #1713f0;
    color: #fff;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    transition: width 0.3s;
}

.sidebar-closed {
    width: 60px;
}

.sidebar .nav {
    list-style: none;
    padding: 0;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.sidebar .nav-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
}

.sidebar .nav-item a {
    color: #fff;
    text-decoration: none;
    display: block;
    flex: 1;
}

.sidebar .nav-item i {
    width: 20px;
}

.sidebar .nav-item span {
    flex: 1;
    margin-left: 10px; 
}

.sidebar-closed .nav-item .nav-text {
    display: none;
}

.sidebar-closed .nav-item i {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.sidebar .logo img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.sidebar-closed .logo img {
    width: 50px;
    height: 50px;
    margin-right: 0;
}
.sidebar-closed .logo {
    justify-content: center;
    height: 50px;
}
.sidebar-closed .logo-nombre {
    display: none;
}

.sidebar .company-name {
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}
.content {
    margin-left: 250px;
    padding: 10px;
    transition: margin-left 0.3s;
}

.content-closed {
    margin-left: 60px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    position: sticky;
}

header .toggle-sidebar-btn {
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 20px;
}

.profile p {
    color: rgb(30, 7, 51);
    font-weight: 500;
    font-size: 13.5px;
    margin: 0;
}

.profile p span {
    font-weight: 400;
    font-size: 12px;
    display: block;
    color: #000000;
}

header .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.logout-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.logout-btn:hover {
    background-color: #ff0331;
}

.logout-btn button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    min-width: 150px;
    margin: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .nav-item:hover {
    background-color: #f5e519;
}

.sidebar .nav-item:hover i,
.sidebar .nav-item:hover span {
    color: #000;
}

.sidebar-closed .logout-btn button a {
    display: none;
}

.sidebar-closed .logout-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 90px;
}

.sidebar-closed .logout-btn button {
    min-width: auto;
    margin: 10px 0;
}

.logout-btn button i {
    margin-right: 5px;
}
@media (max-width: 600px) {
    .toggle-sidebar-btn {
        display: none;
    }
}


.btn-agregar {
    background-color: var(--color-background-agregar);
}
.btn-agregar:hover {
    background-color: var(--color-background-agregar-hover);
    color: var(--color-agregar-hover);
}
.btn-cancel {
    margin-right: 10px;
}
.btn-edit {
    margin-right: 10px;
}

.img_file {
    height: 100%;
    width: 50%;
}


.container-input {
    text-align: center;
    border-radius: 6px;
    width: 100%;
}

.inputfile {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.iborrainputfile {
    font-size: 16px;
    font-weight: normal;
    font-family: "Lato";
}

.inputfile-1 + label {
    color: #fff;
    background-color: #0a5c6b;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #022038;
}

.iconos_index {
    color: #af0d30;
}
.nombre_archivo {
    margin-left: 15px;
    margin-right: 15px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.1;
}

.toast-success {
    background-color: #037672 !important;
}

.logout-btn-wrapper button a {
    text-decoration: none !important;
    color: #fff;
}

.custom-table tbody tr {
    border: none;
}

.custom-table tbody td {
    border-top: none;
    border-bottom: none;
}
.paginate_button.current {
    background-color: #0c0407 !important;
    border: 1px solid #e455c0 !important;
}
.dataTables_filter label {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.dataTables_filter input[type="search"] {
    border-radius: 4px;
    border: 1px solid #ced4da;
    padding: 6px 12px;
    font-size: 14px;
}

.dataTables_filter input[type="search"]:focus {
    outline: none;
    border-color: #6c757d;
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25);
}

.dataTables_filter .fa-search {
    margin-right: 8px;
}

.dataTables_wrapper .row {
    padding-left: 7px;
    padding-right: 7px;
}

.dataTables_wrapper .dataTables_filter {
    padding-right: 7px;
}

.dataTables_wrapper .dataTables_length {
    padding-left: 7px;
}

.table-responsive {
    overflow-x: auto;
}

@media (min-width: 860px) {
    .table-responsive {
        overflow-x: hidden;
    }
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: #fff;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

@media (max-width: 767.98px) {
    .table {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table thead {
        display: none;
    }
    .table tbody tr {
        margin-bottom: 0.625rem;
        display: block;
        border: 1px solid #cdd9e5;
        border-radius: 0.25rem;
    }
    .table td {
        display: block;
        text-align: right;
    }
    .table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    .dataTables_wrapper .dataTables_filter {
        padding-left: 2rem;
    }
}

@media (min-width: 768px) {
    .table {
        display: table;
        width: 140%;
        text-align: center;
    }
    .table thead {
        display: table-header-group;
    }
    .table tbody {
        display: table-row-group;
    }
    .table tbody tr {
        display: table-row;
        border-color: inherit;
    }
    .table td,
    .table th {
        display: table-cell;
    }
    .table td {
        vertical-align: middle;
    }
}

.icon-plus {
    color: #08a093;
}

.icon-minus {
    color: #ff0331;
}

.archivo-preview {
    width: 100%;
    height: 160px;
    border: 1px solid #000;
    overflow: hidden;
}

@media (max-width: 1359px) {
    .previwe-pdf {
        display: none;
    }
}
.a-titulo {
    color: #156996;
    text-decoration: none;
    font-size: 17px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}
.a-titulo:hover {
    color: #40a0d3;
}
.p-autor {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #696666;
}
.p-tipo {
    font-family: inherit;
    font-size: 14px;
    line-height: 0.7;
}
.p-resumen {
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
}
.title_show {
    color: #014770;
    text-decoration: none;
    font-size: 22px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.p-resumen mark {
    padding: 0;
    margin: 0;
}
.dark-button {
    background-color: #002f5e;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.contentp {
    padding: 10px;
}

.container-input input[type="file"] {
    display: none;
}